In [48]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib as plt
import statistics as stat

In [49]:
data = pd.read_csv('/content/StudentsPerformance.csv')
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

**No of Males and Females participated**

In [50]:
print('No of males and females participated are:')
data.gender.value_counts()

No of males and females participated are:

female    518
male      482
Name: gender, dtype: int64

**Student's Parentel Level of Education**

In [51]:
parray = pd.Series(data['parental level of education'].unique())
print('Different Education levels of parents are as follows: ')
parray

Different Education levels of parents are as follows:

0      some high school
1           high school
2          some college
3    associate's degree
4     bachelor's degree
5       master's degree
dtype: object

**Average Scores based on Gender and Test Preparation Course**

In [52]:
mmath_avg = data.loc[data['gender']=='male','math score'].mean()
fmath_avg = data.loc[data['gender']=='female','math score'].mean()

mread_avg = data.loc[data['gender']=='male','reading score'].mean()
fread_avg = data.loc[data['gender']=='female','reading score'].mean()

mwrite_avg = data.loc[data['gender']=='male','writing score'].mean()
fwrite_avg = data.loc[data['gender']=='female','writing score'].mean()

print('Mean marks for male and female :')
gmean_df = pd.DataFrame({'Math': [mmath_avg, fmath_avg],
                        'Reading': [mread_avg, fread_avg],
                         'Writing': [mwrite_avg, fwrite_avg]},
                       index=['Male','Female'])
gmean_df

Mean marks for male and female :

             Math    Reading    Writing
Male    68.821577  65.545643  63.446058
Female  63.376448  72.590734  72.467181

In [53]:
nmath_avg = data.loc[data['test preparation course']=='none','math score'].mean()
cmath_avg = data.loc[data['test preparation course']=='completed','math score'].mean()

nread_avg = data.loc[data['test preparation course']=='none','reading score'].mean()
cread_avg = data.loc[data['test preparation course']=='completed','reading score'].mean()

nwrite_avg = data.loc[data['test preparation course']=='none','writing score'].mean()
cwrite_avg = data.loc[data['test preparation course']=='completed','writing score'].mean()

print('Mean marks for Test Preparation Course :')
tmean_df = pd.DataFrame({'Math': [nmath_avg, cmath_avg],
                        'Reading': [nread_avg, cread_avg],
                         'Writing': [nwrite_avg, cwrite_avg]},
                       index=['None','Completed'])
tmean_df

Mean marks for Test Preparation Course :

               Math    Reading    Writing
None       63.78972  66.417445  64.457944
Completed  69.96648  74.175978  74.684358

**Top 25% based on Math Score**

In [54]:

top = np.percentile(data['math score'], 75)
print('Bonus points can be given to students with Math Score above ', top)
topdf = data[data['math score']>=top]
print('List of students in top 25% based on math score:')
topdf

Bonus points can be given to students with Math Score above  77.0
List of students in top 25% based on math score:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
414,female,group A,high school,free/reduced,completed,77,88,85
415,female,group B,master's degree,free/reduced,completed,77,97,94
416,female,group B,bachelor's degree,free/reduced,none,77,85,87
417,female,group B,master's degree,standard,none,77,90,84
418,female,group B,high school,standard,completed,77,82,89
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100